[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Bastiaan van der Laaken
	email = mannerisms@gmail.com
[push]
	default = current
